.first-column{
    border: 0px;
}

.first-column-subtitle{
    font-size: 20px;
    margin: 12px;
    color: #333;
    font-weight: 500;
    border: 0px;
}

.fc-sub-container {
    margin-left: 12px;
    margin-right: 12px;
}

.fc-data-container{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.fc-data-left{
    display: flex;
    justify-content: flex-start;
    width: 150px;
}

.fc-right-button{
    background-color: #e2e5e9;
    padding: 2px 10px;
    border-radius: 3px;
}